In [1]:
### import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train_df=pd.read_excel('Flight_price_predict_Train.xlsx')

In [3]:
train_df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

In [4]:
test_df=pd.read_excel('Flight_price_predict_Test.xlsx')

In [5]:
test_df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info

In [6]:
final_df=train_df.append(test_df)

C:\Users\HP\AppData\Local\Temp\ipykernel_14824\2547286718.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=train_df.append(test_df)

In [7]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [8]:
# Create saperate columns of Date Month & Time.

final_df['Date']=final_df['Date_of_Journey'].str.split('/')
print(final_df['Date'])
# we need just Date not Date month and year sor ahain str[0] will give correct value.
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Date']

0       [24, 03, 2019]
1        [1, 05, 2019]
2        [9, 06, 2019]
3       [12, 05, 2019]
4       [01, 03, 2019]
             ...
2666     [6, 06, 2019]
2667    [27, 03, 2019]
2668     [6, 03, 2019]
2669     [6, 03, 2019]
2670    [15, 06, 2019]
Name: Date, Length: 13354, dtype: object

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date, Length: 13354, dtype: object

In [9]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.3+ MB

#### Feature Engineering Process Start.

In [10]:

final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Month']

0       03
1       05
2       06
3       05
4       03
        ..
2666    06
2667    03
2668    03
2669    03
2670    06
Name: Month, Length: 13354, dtype: object

In [11]:
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]
final_df['Year']

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
2666    2019
2667    2019
2668    2019
2669    2019
2670    2019
Name: Year, Length: 13354, dtype: object

In [12]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [13]:
# convert Date Month & year in Int data type.
final_df['Date']=final_df['Date'].astype(int)
final_df["Month"]=final_df["Month"].astype(int)
final_df["Year"]=final_df["Year"].astype(int)

In [35]:
#final_df['Month']=final_df["Year"].astype(int)

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [17]:
## Date_of_journey has been created saperatly now  so we dont eed this column any more lets drop it.
final_df=final_df.drop('Date_of_Journey',axis=1)

KeyError: "['Date_of_Journey'] not found in axis"

In [55]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

####  Arrival Time & DEparture Time

In [18]:
final_df['Arrival_Time'].str.split(' ').str[0]

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [19]:
## another way by uing labda function also we get the same info
final_df['Arrival_Time']=final_df['Arrival_Time'].apply(lambda x:x.split(' ')[0])
final_df['Arrival_Hour']=final_df['Arrival_Time'].apply(lambda x:x.split(':')[0])
final_df['Arrival_Minuits']=final_df['Arrival_Time'].apply(lambda x:x.split(':')[1])

In [20]:
# check Null Values

final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Minuits       0
dtype: int64

In [21]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10

In [22]:
#final_df['Date']=final_df['Date'].astype(int)
final_df["Arrival_Hour"]=final_df["Arrival_Hour"].astype(int)
final_df["Arrival_Minuits"]=final_df["Arrival_Minuits"].astype(int)

In [65]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_Hour     13354 non-null  int32
 14  Arrival_Minuits  13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [23]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [68]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [24]:
## Departure Time
final_df['Dep_Hour']=final_df['Dep_Time'].apply(lambda x:x.split(':')[0])
final_df['Dep_Minuits']=final_df['Dep_Time'].apply(lambda x:x.split(':')[1])

In [25]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits,Dep_Hour,Dep_Minuits
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [26]:
final_df["Dep_Hour"]=final_df["Dep_Hour"].astype(int)
final_df["Dep_Minuits"]=final_df["Dep_Minuits"].astype(int)

In [27]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Date             13354 non-null  int32
 10  Month            13354 non-null  int32
 11  Year             13354 non-null  int32
 12  Arrival_Hour     13354 non-null  int32
 13  Arrival_Minuits  13354 non-null  int32
 14  Dep_Hour         13354 non-null  int32
 15  Dep_Minuits      13354 non-null  int32
dtypes: float64(1), int32(7), object(8)
memory usage: 1.4+ MB

In [28]:
final_df.drop('Dep_Time',axis=1,inplace=True)

In [29]:
final_df.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits,Dep_Hour,Dep_Minuits
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [30]:
# Total Stop Feature is also spacifing the number of staops. 
# we also have Source & Destination Featurs.
# hence if we could convert Total_stops into numeric feature we can achive the feature in int format.


# check NaN Values for this column
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits,Dep_Hour,Dep_Minuits
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

#### Rout Feature

In [31]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [32]:
final_df['Total_Stops'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2666    False
2667    False
2668    False
2669    False
2670    False
Name: Total_Stops, Length: 13354, dtype: bool

In [33]:
final_df['Total_Stops']

0       0.0
1       2.0
2       2.0
3       1.0
4       1.0
       ...
2666    1.0
2667    0.0
2668    1.0
2669    1.0
2670    1.0
Name: Total_Stops, Length: 13354, dtype: float64

In [111]:
final_df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits,Dep_Hour,Dep_Minuits
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1.0,No info,NaN,6,6,2019,20,25,20,30
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0.0,No info,NaN,27,3,2019,16,55,14,20
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1.0,No info,NaN,6,3,2019,4,25,21,50
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1.0,No info,NaN,6,3,2019,19,15,4,0
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1.0,No info,NaN,15,6,2019,19,15,4,55

In [34]:
# we can drop Rout column now
final_df.drop('Route',axis=1,inplace=True)

In [35]:
final_df.head(1)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits,Dep_Hour,Dep_Minuits
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20

### Duration Feature

In [45]:
# convert Duration (Hrs in to min.)
final_df['Duration_hrs']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [57]:
final_df['Duration_hrs']=final_df['Duration_hrs'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'type'

In [56]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Duration         13351 non-null  object
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13351 non-null  object
 6   Price            10681 non-null  float64
 7   Date             13351 non-null  int32
 8   Month            13351 non-null  int32
 9   Year             13351 non-null  int32
 10  Arrival_Hour     13351 non-null  int32
 11  Arrival_Minuits  13351 non-null  int32
 12  Dep_Hour         13351 non-null  int32
 13  Dep_Minuits      13351 non-null  int32
 14  Duration_hrs     13351 non-null  object
dtypes: float64(2), int32(7), object(6)
memory usage: 1.8+ MB

In [37]:
## Two rows are having values as duration =5m.. 
## so we cant convert it to int, hence we will drop these 2 rows.

In [58]:
final_df[final_df['Duration_hrs']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hour, Arrival_Minuits, Dep_Hour, Dep_Minuits, Duration_hrs]
Index: []

In [39]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

#### Catagorical features.

In [59]:
final_df.head(1)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits,Dep_Hour,Dep_Minuits,Duration_hrs
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,<class 'int'>

In [61]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [64]:
## we will do Label Encoding for this.
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [65]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])

In [66]:
## we will do it for other features as well
final_df['Source']=labelencoder.fit_transform(final_df['Source'])

In [67]:
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])

In [68]:
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [69]:
final_df.shape

(13351, 15)

In [70]:
final_df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minuits,Dep_Hour,Dep_Minuits,Duration_hrs
0,3,0,5,2h 50m,0.0,8,3897.0,24,3,2019,1,10,22,20,<class 'int'>
1,1,3,0,7h 25m,2.0,8,7662.0,1,5,2019,13,15,5,50,<class 'int'>

In [71]:
# We can also use One Hot encoder

In [72]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder()

In [73]:
final_df['Airline']=onehotencoder.fit_transform(final_df['Airline'])
final_df['Source']=onehotencoder.fit_transform(final_df['Source'])
final_df['Destination']=onehotencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=onehotencoder.fit_transform(final_df['Additional_Info'])

ValueError: Expected 2D array, got 1D array instead:
array=[3 1 4 ... 4 1 6].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.